In [3]:
import pandas as pd

df=pd.read_csv('index_master.csv')

df=df[['team','team_id','year']]
df.drop_duplicates(inplace=True)
df.to_csv('team_index.csv',index=False)

In [4]:
df_sorted = df.sort_values(by=['team_id', 'year'])

# Create a dictionary mapping team_id to the most recent team name
most_recent_team_names = df_sorted.drop_duplicates('team_id', keep='last').set_index('team_id')['team'].to_dict()

# Replace all team names with the most recent version for each team_id
df['team'] = df['team_id'].map(most_recent_team_names)
df

      team     team_id  year
0      GSW  1610612744  1957
2      ATL  1610612737  1957
3      PHI  1610612755  1957
7      BOS  1610612738  1957
10     DET  1610612765  1957
...    ...         ...   ...
10349  BOS  1610612738  2024
10351  IND  1610612754  2024
10363  LAL  1610612747  2024
10365  OKC  1610612760  2024
10368  DAL  1610612742  2024

[884 rows x 3 columns]

In [5]:
df.to_csv('team_index.csv',index=False)